@import "tailwindcss";

:root {
  --color-graphite: #1F2328;
  --color-dark: #07111F;
  --color-blue: #2563EB;
  --color-steel: #4B5563;
  --color-white: #F8FAFC;
  --color-muted: #CBD5E1;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-dark);
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
}